* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #0e0e0e;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 232, 232);
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: 10% 60% 30%;
}

header ul {
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 30px 5px;
    text-transform: capitalize;
}


li > a {
    font-size: 1rem;
}

header li:last-child a {
    padding: 5px;
    border-radius: 50%;
    background-color: #000000;
    margin-right: 10px;
    font-weight: 500;
}

header li:last-child a i {
    color: #fff;
}

main {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    margin: 0 1rem 0 4rem;
}

main > h1 {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 40px;
}


main .lower-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    align-content: space-between;
    /* border: 1px solid #000; */
}

.lower-content p {
    justify-content: justify;
    line-height: 1.3;
    font-weight: 400;
    font-size: 1.2rem;
    width: 60%;

}

.right ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 5px;
    
}

.right li {
    width: 80%;
}

.right li a {
    display: flex;
    width: 100%;
    border-top: 1px solid #000;
    padding: 15px 0 0 0;
    justify-content: space-between;
    font-size: 1.2rem;
    position: relative;
    
}

.right span {
    position: relative;
    display: inline-block;
    overflow: hidden;
}


.right span::after {
    content: "";
    border: 1px solid #000;
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 0%;
    transition: width 0.3s ease-in-out;
}




.right i {
    opacity: 0%;
    position: absolute;
    right: 10px;
    top:8px;
    font-size: 2rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}




.right a:hover i {
    opacity: 100%;
}


.right a:hover span::after {
    width: 100%;

}


footer {
    margin-top: 20px;
    background-image: url(./data/pretty-black-woman-s-portrait-wears-braids-pony-tail.jpg);
    background-position: 30%;
    background-repeat: no-repeat;
    background-size: cover;
}